{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h4 class="text-center">Login</h4>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="username" name="username"
                           placeholder="name@example.com">
                </div>
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" class="form-control" name="password" aria-describedby="passwordHelpBlock">
                <div id="passwordHelpBlock" class="form-text mt-2">
                    Your password must be 8-20 characters long, contain letters and numbers, and must not contain
                    spaces, special characters, or emoji.
                </div>
                <button type="submit" class="btn btn-success mt-3">Submit</button>
                <button type="reset" class="btn btn-info mt-3">Reset</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
