{% extends 'base.html' %}
{% load static %}
{% block title %}
Add Parents
{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'SchoolApp/css/addClassStyle.css' %}">
{% endblock %}
{% block content %}
<div class="row px-5">
    <div class="container">
        <h4 class="text-center">Add Parents Information</h4>
        <div class="classForm py-5 ">
            <form method="post" novalidate>
                {% csrf_token %}
                    {% for fm in form %}
                        {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}
                    {% endfor %}
                <input type="submit" value="submit" class="btn btn-success">
                <input type="reset" value="reset" class="btn btn-info">
                {% if form.non_field_errors %}
                <div class="alert alert-danger mt-3" role="alert">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            </form>

        </div>
    </div>
</div>
{% endblock %}