{% extends 'base.html' %}

{% block title %}
Class List
{% endblock %}

{% block content %}
<div class="container">
    <h4 class="text-center">Class List</h4>
    <table class="table table-stripped mt-4">
        <thead class="text-center table-primary">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Total Seats</th>
            <th scope="col">Seats Occupied</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
            <th scope="col">All Students</th>
            <th scope="col">Add Students</th>

        </tr>
        </thead>
        <tbody class="text-center">
        {% for i in Class %}
        <tr>
            <td scope="row">{{ i.name }}</td>
            <td scope="row">{{ i.description }}</td>
            <td scope="row">{{ i.seats }}</td>
            <td scope="row">{{ i.enrollmodel_set.count }}</td>
            <td scope="row"><a class="btn btn-primary" href="{% url 'updateClass' i.id %}"><i
                    class="bi bi-hand-index-thumb"></i> Update</a></td>
            <td scope="row">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#deleteModal{{ i.id }}">
                    <i class="bi bi-trash3-fill"></i> Delete
                </button>

                <!-- Modal -->
                <div class="modal fade" id="deleteModal{{ i.id }}" tabindex="-1"
                     aria-labelledby="deleteModalLabel{{ i.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel{{ i.id }}">Confirm Deletion</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete class "{{ i.name }}"?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <a href="{% url 'classDelete' i.id %}" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td scope="row"><a class="btn btn-info" href="{% url 'classStudent' i.id %}"><i
                    class="bi bi-person-circle"></i> Students </a></td>
            <td scope="row"><a class="btn btn-info" href="{% url 'enrollStudent' %}"><i class="bi bi-person-plus"></i>
                Add Student </a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
