{% extends 'base.html' %}

{% block title %}
Student List
{% endblock %}

{% block content %}
<div class="container">
    <h4 class="text-center">Student Information</h4>
    <table class="table table-stripped mt-4">
        <thead class="text-center table-primary">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Parents</th>
            <!--            <th scope="col">Class Enrolled</th>-->
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody class="text-center">
        {% for student in students %}
        <tr>
            <td scope="row">{{ student.name }}</td>
            <td scope="row">{{ student.age }}</td>
            <td scope="row">{{ student.parent }}</td>
            <!--            <td scope="row">{{student.classEnrolled}}</td>-->
            <td scope="row"><a class="btn btn-primary" href="{% url 'updateStudent' student.id %}">Update</a></td>
            <td scope="row">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#deleteModal{{ student.id }}">
                    Delete
                </button>

                <!-- Modal -->
                <div class="modal fade" id="deleteModal{{ student.id }}" tabindex="-1"
                     aria-labelledby="deleteModalLabel{{ student.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel{{ student.id }}">Confirm Deletion</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete student {{ student.name }} ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <a href="{% url 'deleteStudent' student.id %}" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
